body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: yellowgreen;
}

a {
    font-size: 1.25rem;
}
a:hover{text-decoration:none;
        font-weight:bold;
}

header {
    background-color: burlywood;
}

h3 {
    background-color: blue;
    color: white;
}

article {
    background-color: greenyellow;
    border-radius: 10px;
}

    article:hover {
        background-color: yellowgreen;
    }
