nav ul {
    background-color: yellow;
}

header::first-line {
    font-variant: small-caps;
}

nav li {
    display: block;
    width: 50%;
    float: left;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: yellowgreen;
}

a {
    font-size: 1.25rem;
}

    a:hover {
        text-decoration: none;
        font-weight: bold;
    }

header {
    background-color: yellow;
}

h3 {
    background-color: blue;
    color: white;
    font-weight: bold;
}

article {
    background-color: greenyellow;
    border-radius: 10px;
}

    article:hover {
        background-color: yellowgreen;
    }

p::first-letter {
    font-size: 1.5rem;
}
